.footer-container {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    margin-top: 100px;

    
}

.footer-section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer-section1 .social-img{
    display: flex;
    gap: 50px;
}

.footer-section1 .social-img img{
    height: 30px;
}

.footer-section2 ul{
    padding-left: 0;

}
.footer-section2 ul li{
    display: block;
    margin-left: 0;


}




